@import "../../../Default/Default.scss";
.personal-best {
  grid-column: 4/6;
  @include max-width-media-query(767px) {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .title {
    margin-bottom: 10px;
  }
  .bests-item {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    @include max-width-media-query(767px) {
      grid-template-columns: 1fr;
    }
    .best-item-1 {
      display: flex;
      align-items: center;
      padding: 50px;
      border-radius: $rounded;
      background-color: $purpleLight;
      &:first-child {
        grid-column: 1/3;
      }
      p {
        font-weight: 500;
        font-size: $mediumSize;
      }
      .best-item-icon {
        font-size: 40px;
        margin-left: 5px;
      }
      @include max-width-media-query(767px) {
        display: none;
      }
    }
    .best-item-2 {
      padding: 5px;
      display: flex;
      flex-direction: column;
      border-radius: $rounded;

      @include max-width-media-query(767px) {
        flex-direction: row;
        justify-content: space-between;
      }
      &:nth-child(2) {
        background-color: #d1c2f2;
      }
      &:nth-child(3) {
        background-color: #d0e9d7;
      }
      &:nth-child(4) {
        visibility: hidden;
        background-color: #f1d1a8;
        @include max-width-media-query(767px) {
          visibility: visible;
        }
      }
      p {
        font-size: $smallSize;
      }
      img {
        margin-left: auto;
        width: 50px;
      }
    }
  }
}
