@import "../../Default/Default.scss";

.home {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-gap: 10px;
  @include max-width-media-query(767px) {
    grid-template-columns: 1fr;
  }
  .home-left {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    border-radius: $rounded;
    background-color: $bgColor;
  }
  .home-right {
    padding: 20px;
    border-radius: $rounded;
    background-color: $bgColor;
    @include max-width-media-query(767px) {
      grid-row: 1/2;
    }
  }
}
