@import "../../../Default/Default.scss";

.weekly-schedule {
  grid-column: 1/4;
  @include max-width-media-query(767px) {
    grid-column: 1/6;
  }
  .title {
    font-size: $mediumSize;
    margin-bottom: 10px;
  }
  .schedule-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: $rounded;
    &:nth-child(2) {
      background: radial-gradient(
        at left top,
        rgba(191, 239, 251, 0.7),
        rgba(130, 145, 225, 0.7)
      );
    }
    &:nth-child(3) {
      background: radial-gradient(
        at left top,
        rgba(247, 247, 170, 0.7),
        rgba(220, 188, 113, 0.7)
      );
    }
    &:nth-child(4) {
      background: radial-gradient(
        at left top,
        rgba(252, 224, 194, 0.7),
        rgba(251, 144, 189, 0.7)
      );
    }
    &:nth-child(5) {
      background: radial-gradient(
        at left top,
        rgba(233, 252, 196, 0.7),
        rgba(155, 231, 207, 0.7)
      );
    }
    .schedule-date {
      width: 40px;
      padding: 0 10px;
      border-right: 3px solid $black;
      span {
        font-weight: 500;
        font-size: $largeSize;
      }
    }
    .schedule-users {
      p {
        font-weight: 700;
        font-size: $smallSize;
      }
      img {
        height: 25px;
        width: 25px;
        margin-left: -5px;
        border-radius: $rounded;
      }
    }
    .schedule-btn {
      border: 0;
      border-radius: 20px;
      padding: 10px 40px;
    }
  }
}
